.s-forgot-password-code-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.s-forgot-password-code-navbar-interactive {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 1;
  position: fixed;
  align-items: center;
  padding-top: 10px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 10px;
  justify-content: space-between;
  background-color: crimson;}
.s-forgot-password-code-logo {
  height: 2rem;
}
.s-forgot-password-code-desktop-menu {
  display: flex;
}
.s-forgot-password-code-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-forgot-password-code-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 200;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.s-forgot-password-code-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-forgot-password-code-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.s-forgot-password-code-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.s-forgot-password-code-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 500;
}
.s-forgot-password-code-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-forgot-password-code-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.s-forgot-password-code-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.s-forgot-password-code-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 500;
}
.s-forgot-password-code-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-forgot-password-code-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.s-forgot-password-code-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.s-forgot-password-code-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 500;
}
.s-forgot-password-code-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.s-forgot-password-code-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.s-forgot-password-code-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.s-forgot-password-code-icon-group {
  display: flex;
}
.s-forgot-password-code-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.s-forgot-password-code-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.s-forgot-password-code-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.s-forgot-password-code-container1 {
  top: 96px;
  left: 0px;
  width: 100%;
  height: 649px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  scroll-behavior: auto;
}
.s-forgot-password-code-container2 {
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 236px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-left: 300px;
  padding-right: 300px;
  flex-direction: column;
  justify-content: flex-start;
}
.s-forgot-password-code-text3 {
  font-size: 70px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 700;
}
.s-forgot-password-code-container3 {
  width: 100%;
  height: 166px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.s-forgot-password-code-text4 {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  text-align: left;
  font-family: Titillium Web;
}
.s-forgot-password-code-container4 {
  width: 100%;
  height: 103px;
  display: flex;
  align-items: flex-start;
}
.s-forgot-password-code-textinput {
  font-family: Titillium Web;
}
.s-forgot-password-code-navlink1 {
  color: rgb(255, 255, 255);
  font-family: Titillium Web;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(211, 26, 26);
}
@media(max-width: 767px) {
  .s-forgot-password-code-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .s-forgot-password-code-desktop-menu {
    display: none;
  }
  .s-forgot-password-code-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .s-forgot-password-code-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .s-forgot-password-code-mobile-menu {
    padding: 16px;
  }
}
