.s-change-password-forgot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s-change-password-forgot-navbar-interactive {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 96px;
  display: flex;
  z-index: 1;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(58, 50, 151) 100.00%);
}
.s-change-password-forgot-logo {
  height: 2rem;
}
.s-change-password-forgot-desktop-menu {
  display: flex;
}
.s-change-password-forgot-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-change-password-forgot-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 200;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.s-change-password-forgot-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-change-password-forgot-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.s-change-password-forgot-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.s-change-password-forgot-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 500;
}
.s-change-password-forgot-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-change-password-forgot-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.s-change-password-forgot-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.s-change-password-forgot-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 500;
}
.s-change-password-forgot-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.s-change-password-forgot-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.s-change-password-forgot-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.s-change-password-forgot-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 500;
}
.s-change-password-forgot-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.s-change-password-forgot-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.s-change-password-forgot-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.s-change-password-forgot-icon-group {
  display: flex;
}
.s-change-password-forgot-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.s-change-password-forgot-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.s-change-password-forgot-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.s-change-password-forgot-imagecontainer {
  width: 60%;
  height: 649px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.s-change-password-forgot-image {
  top: 96px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}
.s-change-password-forgot-container1 {
  top: 95px;
  right: 0px;
  width: 40%;
  height: 649px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.s-change-password-forgot-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.s-change-password-forgot-text3 {
  color: var(--dl-color-gray-black);
  font-size: 55px;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  font-family: Titillium Web;
  margin-bottom: 3px;
}
.s-change-password-forgot-textinput {
  height: var(--dl-size-size-small);
  font-size: 20px;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  font-family: Titillium Web;
  border-color: #3a3297;
  border-width: 3px;
  background-color: #d9d9d9;
}
.s-change-password-forgot-textinput1 {
  height: var(--dl-size-size-small);
  font-size: 20px;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  font-family: Titillium Web;
  border-color: #3a3297;
  border-width: 3px;
  background-color: #d9d9d9;
}
.s-change-password-forgot-navlink3 {
  color: rgb(255, 255, 255);
  height: var(--dl-size-size-small);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Titillium Web;
  font-weight: 600;
  padding-top: 14px;
  text-decoration: none;
  background-color: rgb(45, 39, 116);
}
@media(max-width: 767px) {
  .s-change-password-forgot-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .s-change-password-forgot-desktop-menu {
    display: none;
  }
  .s-change-password-forgot-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .s-change-password-forgot-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .s-change-password-forgot-mobile-menu {
    padding: 16px;
  }
}
